/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top:0;
    padding-bottom:20px
}

a {
    color:#257085
}

.navbar {
    background-color:#fff;
    border-bottom:1px solid #000
/*font-family: 'Open Sans', sans-serif;*/
}

.navbar-custom a {
    color:#000
/*-webkit-filter: opacity(80%) ;*/
}

.navbar-custom .navbar-nav > li > a {
    color:#333
}

.navbar-custom .navbar-nav > li > a:hover,.nav > li > a:focus {
    text-decoration:none;
    color:#000
/*background-color: #fff;*/
/*background: transparent;*/
}

.navbar-custom .navbar-nav > .active > a,.navbar-custom .navbar-nav > .active > a:focus {
/*color: #257085;*/
    color:#000;
/*-webkit-filter: opacity(100%) ;*/
    background:transparent
}

.navbar-custom .navbar-nav > .active > a:hover {
    background:transparent;
    color:#000
/*background: transparent;*/
}

.jumbotron {
    border-bottom:1px solid #000;
    padding-bottom:0;
    font-family:'Open Sans',sans-serif;
    background:url(/images/headerC.jpg) no-repeat top left fixed;
    background-size:cover;
    /*background-color:#257085*/
/*background-size: contain;*/
}

.jumbotron h1 {
/*color: #257085;*/
    padding-top:50px;
    color:#fff;
    -webkit-filter:opacity(85%);
    margin-bottom:0;
    text-align:right
}

.jumbotron a {
    color:#FFF
}

.jumbotron a:hover {
    color:#eee;
    text-decoration:none
}

.jumbotron p {
    font-size:120%;
    color:#fff;
/*padding-bottom: 0;*/
    -webkit-filter:opacity(95%);
    text-align:right
}

.jumbotron .btn-lg {
    z-index:1;
    background-color:rgba(0,0,0,0.4);
    border:1px solid #CCC;
    position:absolute;
    margin-top:110px
}

.jumbotron .btn-lg a:hover {
    color:#DDD
}

.nottransparent {
    -webkit-filter:opacity(100%)
}

@media (max-width: 767px) {
.jumbotron h1 {
    padding-bottom:10px;
    margin-top:-20px;
    text-align:center
}
}

#hidden-content {
    background:#FFF;
    background-color:rgba(0,0,0,0.4);
/*-webkit-filter: opacity(75%) ;*/
    border-top:1px solid #000;
    height:auto;
    padding-bottom:20px;
    display:none
}

#hidden-content2 {
    background:#FFF;
    background-color:rgba(0,0,0,0.4);
/*-webkit-filter: opacity(75%) ;*/
    border-top:1px solid #000;
    height:auto;
    padding-bottom:20px;
    display:none
}


#hidden-content h4 {
    color:#FFF;
    margin-top:30px;
    font-size:120%;
    line-height:150%
}

#hidden-content img {
    float:left;
    margin-right:10px;
    max-width:100px
}

.video-wrap {
    float:left;
    margin:30px 20px 5px 0;
}

.img-wrap {
    margin:0 30px 5px 0
}

.img-wrap img {
    min-width:170px;
    float:left;
    margin:20px 0 5px
}

@media (min-width: 768px) {
#twitter-widget-0 {
    width:100%!important;
    max-width:100%!important;
/*max-height: 600px;*/
}
}

.col-md-6 {
    overflow:scroll!important;
    max-height:500px;
    max-width:600px;
    margin-bottom:20px;
    margin-right:auto;
    margin-left:auto;
    max-width:600px;	
}

.teaching ol{ list-style-position: inside;}

.teaching img{
	min-width:120px;
	margin-right:20px;}
	
	.timetable img{width:100%;}
	
.gallery{text-align:center;
	padding-bottom:10px;
	height:230px;
	overflow:hidden;
}

.gallery img{height:160px;width:auto;}	

#pubmedrss {
   /* height:600px;*/
/*margin: 0 50px 50px 0;*/
/*overflow: scroll;*/
}

.pubmed .rssBody ul {
    padding-left:0
}

.pubmed p {
/*background: gray;
	*/
    margin:0 0 2em;
    font-size:15px;
    line-height:110%
}

.pubmed h3 {
    font-size:110%;
    margin:.5em 0 .2em
}

.pubmed a {
/*color: #222;
	*/
}

.pubmed i {
    color:gray;
    font-style:normal;
    font-weight:400
}

.pubmed b {
    color:gray
}

.pubmed ul {
    list-style-type:none
}

.pubmed2 {margin-left:-40px;}

@media (max-width: 768px) {
.col-md-6 {
    max-height:none
}
}

@media (max-width: 768px) {
#pubmedrss {
    height:auto;
    max-height:none;
    overflow-y:hidden
}
}