---
layout: page
title: People
permalink: /people/
carousel:
  - image: /assets/img/group-pics/group1.jpg
  - image: /assets/img/group-pics/group2.jpg
  - image: /assets/img/group-pics/group3.jpg
  - image: /assets/img/group-pics/group4.jpg
  - image: /assets/img/group-pics/group5.jpg
  - image: /assets/img/group-pics/group6.jpg
  - image: /assets/img/group-pics/group7.jpg
  - image: /assets/img/group-pics/group8.jpg
---
<!-- Google CDN Hosted jQuery  -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<!-- Flexslider Library  -->
<script src="/assets/js/jquery.flexslider-min.js"></script>
<!-- Initialisation Code  -->
<script src="/assets/js/app.js"></script>

<!-- <div class="flexslider">
  <ul class="slides">
	  {% for slides in page.carousel %}
    <li>
      <img src="{{ slides.image }}" />
    </li>
	{% endfor %}
  </ul>
</div> -->



<div class="projects">
{% assign postcount = 0 %}
<div class="grid no-gutters">
{% for posts in site.categories.PI %}
  <div class="unit one-quarter">
  <div class="project centred-and-cropped">
    {% assign postcount = postcount | plus: 1 %}
    <a href="{{ posts.url | prepend: site.baseurl | prepend: site.url }}">
      <img  src="/assets/img/people/{{ posts.mugshot }}" /></a>
    <h4 class="project-title"><a href="{{ posts.url | prepend: site.baseurl | prepend: site.url }}">{{posts.title}}</a></h4>
    </div>
  </div>
  {% if postcount > 3 %}
    </div>
    <div class="grid no-gutters">
    {% assign postcount = 0 %}
  {% endif %}
{% endfor %}
{% for posts in site.categories.current %}
	<div class="unit one-quarter">
	<div class="project centred-and-cropped">
		{% assign postcount = postcount | plus: 1 %}
		<a href="{{ posts.url | prepend: site.baseurl | prepend: site.url }}">
			<img  src="/assets/img/people/{{ posts.mugshot }}" /></a>
		<h4 class="project-title"><a href="{{ posts.url | prepend: site.baseurl | prepend: site.url }}">{{posts.title}}</a></h4>
    </div>
	</div>
 	{% if postcount > 3 %}
		</div>
		<div class="grid no-gutters">
		{% assign postcount = 0 %}
	{% endif %}
{% endfor %}
</div>
</div>


<div class="projects">
<h2 class= 'project-title'>Survivors</h2>
{% assign postcount = 0 %}
<div class="grid no-gutters">
{% for posts in site.categories.previous %}
	<div class="unit one-quarter">
	<div class="project">
		{% assign postcount = postcount | plus: 1 %}
		<a href="{{ posts.url | prepend: site.baseurl | prepend: site.url }}">
			<img  src="/assets/img/people/{{ posts.mugshot }}" /></a>
		<h4 class="project-title"><a href="{{ posts.url | prepend: site.baseurl | prepend: site.url }}">{{posts.title}}</a></h4>
    </div>
	</div>
 	{% if postcount > 3 %}
		</div>
		<div class="grid no-gutters">
		{% assign postcount = 0 %}
	{% endif %}
{% endfor %}
</div>
</div>
