:root {
  --mainTextColor: rgba(90, 99, 105, 1);
  --secondaryTextColor: rgba(10, 45, 80, 1);
}

.reveal p {
  text-align: justify;
}

/* .reveal section img {
  /* min-height: 100vh;
  max-width: 40vw;
  width: 40vw; */
/* height: 100vh; */
/* margin: auto; */
/* margin: 10vh;
  object-fit: contain; */
/* } */

.reveal section video {
  height: 50vh;
  /* margin: auto; */
  margin: 20px;
  object-fit: contain;
}

.container {
  display: grid;
  /* grid-template-columns: 20% 20%; */
  grid-auto-flow: column dense;
}

.cell {
  align-items:center;
  justify-content:center;
}

.flex {
  display: flex;
}

.col {
  flex: 1;
}

.col2 {
  column-count: 2
} */

.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
  color: var(--mainTextColor);
  height: 10px;
}

.reveal .citation {
  position: absolute;
  right: 0pt;
  font-size: medium;
  text-align: right;
}

.citation a {
  color: var(--mainTextColor);
}

.reveal .footer {
  bottom: 0;
  left: 20px;
  z-index: 3;
  position: fixed;
}

.reveal .footer img {
  width: 7vw;
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* .myButton {
  background-color: #a7453e;
  border-radius: 18px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 28px;
  padding: 20px 54px;
  text-decoration: none;
}

.myButton:hover {
  background-color: #f24437;
}

.myButton:active {
  position: relative;
  top: 1px;
} */

.reveal .citationfixed {
  /* margin-top: 4em;
margin-left: 4em; */
  /* bottom: 20px;  */
  font-size: medium;
  text-align: right;
}

.citationfixed a {
  color: var(--mainTextColor);
}

.invert {
  /* text-shadow: 5px 0 0 #000, 0 -5px 0 #000, 0 5px 0 #000, -5px 0 0 #000; */
  -webkit-text-stroke-color: black;
  color: #F00;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.reveal .whitetext {
  /* text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000; */
  text-shadow:  0px 5px 15px rgba(0, 0, 0, 0.35);
  /* text-shadow: 3px 3px 20px black, -2px 1px 30px black; */
  -webkit-text-stroke-color: black;
  color: #f0f8ff;
}

.bottom {
  z-index: 3;
  position: fixed;
  bottom: 8px;
}

/* Below to give circular image boxes */
.img-box {
  position: absolute;
  background-color: #EEEEEE;
  background-position: center;
  border-radius: 100%;
  /* max-width:200px; */
  /* overflow: hidden; */
  height: 300px;
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.img-box-text h3 {
  position: absolute;
  color: #EEEEEE;
  /* padding: 6vw; */
  font-size: 100%;
  text-align: center;
  vertical-align: middle;
  overflow: visible;

  /* display: flex;
  justify-content: center;
  align-items: center; */
}

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 98%;
  max-height: 98%;
}

.reveal[data-transition-speed="x-slow"] .slides section {
  transition-duration: 4000ms;
}

.referencelist {
  max-width: 45%;
  font-size: 0.7em;
}

.quote {
  font-style: italic;
  font-size: 60%;
  padding-left:20%;
  padding-right: 20%;
}

.focustext {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  /* position: absolute;
  left:50%;
  text-align: center;
  vertical-align: middle; */
}